* { all: unset; }
tooltip { background-color: black; }

.example
{
    background-color: darkgreen;
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    margin-right: 0px;
}
